In [11]:
list = [1,3,3,3,4,5]
for x in list:
    if x == 3:
        print(x)

3
3
3

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline 
import seaborn as sns
import datetime
import scipy.stats as stats

### Load data

In [2]:
geolocation= pd.read_csv (r'C:\Users\user pc\Downloads\ecommerce\geolocation_dataset.csv')
items= pd.read_csv (r'C:\Users\user pc\Downloads\ecommerce\items_dataset.csv')
order_payments= pd.read_csv (r'C:\Users\user pc\Downloads\ecommerce\order_payments_dataset.csv')
order_reviews= pd.read_csv (r'C:\Users\user pc\Downloads\ecommerce\order_reviews_dataset.csv')
orders= pd.read_csv (r'C:\Users\user pc\Downloads\ecommerce\orders_dataset.csv')
product_category_name_translation = pd.read_csv(r'C:\Users\user pc\Downloads\ecommerce\product_category_name_translation.csv')
products = pd.read_csv(r'C:\Users\user pc\Downloads\ecommerce\products_dataset.csv')
sellers = pd.read_csv(r'C:\Users\user pc\Downloads\ecommerce\sellers_dataset.csv')

In [35]:
orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,f4c87e038db78ef275deab58f19e5bd2,89a7fcf7fc62e96cd8a92de58f8d035c,delivered,2018-08-02 12:06:09,2018-02-27 04:31:10,2018-05-09 15:48:00,2016-10-27 17:32:07,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [34]:
items.describe()
## Average price of the items = 120.653

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [21]:
products.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [18]:
new_items= items.drop_duplicates(['order_id'])
orders['order_status'].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [4]:
orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,f4c87e038db78ef275deab58f19e5bd2,89a7fcf7fc62e96cd8a92de58f8d035c,delivered,2018-08-02 12:06:09,2018-02-27 04:31:10,2018-05-09 15:48:00,2016-10-27 17:32:07,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [22]:
p_5s = len(order_reviews[order_reviews['review_score'] == 5]) * 100 / len(order_reviews)
p_1s = len(order_reviews[order_reviews['review_score'] == 1]) * 100 / len(order_reviews)
first_dt = order_reviews['review_creation_date'].min()
last_dt = order_reviews['review_creation_date'].max()
avg_s = order_reviews['review_score'].mean()
print(len(order_reviews), 'reviews')
print('First:', first_dt)
print('Last:', last_dt)
print(f'5: {p_5s:.1f}%')
print(f'1: {p_1s:.1f}%')
print(f'Average: {avg_s:.1f}')

100000 reviews
First: 2016-10-02 00:00:00
Last: 2018-08-31 00:00:00
5: 57.4%
1: 11.9%
Average: 4.1

#### Drop irrelevant columns and remove duplicates

In [ ]:
## drop irrelevant columns
new_order_reviews = del order_reviews['review_comment_message']
new_order_reviews = del order_reviews['review_comment_title']

## remove duplicates
def getDuplicateColumns(orders):
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(dat.shape[1]):
        # Select column at xth index.
        col = orders.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, orders.shape[1]):
            # Select column at yth index.
            otherCol = orders.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(dat.columns.values[y])
 
    return list(duplicateColumnNames)

#### This will create a relationship between the data

In [ ]:
import pandas as pd
import glob

path = r'C:\Users\user pc\Downloads\ecommerce' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, sort=False, ignore_index=True)

In [ ]:

geolocation.head()
 # know the distrbution of payment values
order_payments["payment_value"].describe()

len(sellers)==len(sellers['seller_id'].unique()) #make sure that the seller_id only contains unique values
# Convert columns to datetime

# using copy() methods
orders_mod = orders.copy()
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_aproved_at'] = pd.to_datetime(orders['order_approved_at'])
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])

#### Check for missing values and data types

In [ ]:
geolocation.isnull().sum()
for i in range(len(geolocation.index)):
    print("Nan in row ", i , " : " ,  geolocation.iloc[i].isnull().sum())

order.isnull().sum()
for i in range(len(order.index)):
    print("Nan in row ", i , " : " , order.iloc[i].isnull().sum())
    
    geolocation.dtype
    order_payments.dtype
    order.dtype
    products.dtype
    sellers.dtype
    products.dtype

### Removing missing values
### Remove empty column
### Add column names to dataframe
### What are the features?
### What are the expected types (int, float, string, boolean)?
#### Is there obvious missing data (values that Pandas can detect)?
#### Is there other types of missing data that’s not so obvious (can’t easily detect with Pandas)?
### Irrelevant column names
### Outliers
### Duplicates
### Missing data
### Columns that have to be processed
### Unexpected data values

#### Standazing the data

In [ ]:
new_geolocation = geolocation.replace(to_replace = 'são paulo',
                       value = 'sao paulo')
new_geolocation
orders.columns = [col.strip() for col in orders.columns]
geolocation ['geolocation_city'].replace('são paulo', 'sao paulo', inplace=True)

data = geolocation[geolocation['geolocation_city'].astype(str).str.isdigit()]

### Analysis for orders

In [ ]:
order_payments["payment_value"].describe()

In [ ]:
order_payments.head()

In [ ]:
orders.head()

In [ ]:
#orders.dtypes
orders_mod = orders.copy()
orders_mod["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"], format='%Y-%m-%d %H:%M:%S')
orders_mod["order_delivered_carrier_date"] = pd.to_datetime(orders["order_delivered_carrier_date"], format='%Y-%m-%d %H:%M:%S')
orders_mod["order_delivered_customer_date"] = pd.to_datetime(orders["order_delivered_customer_date"], format='%Y-%m-%d %H:%M:%S')
orders_mod["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"], format='%Y-%m-%d %H:%M:%S')
orders_mod.dtypes
#new.head()

In [ ]:
counts = orders_mod.set_index("order_purchase_timestamp").groupby(pd.Grouper(freq='D')).count()
fig = plt.figure(figsize=(16,8))
ax = fig.gca()
counts.plot(y = "order_id", use_index=True, ax=ax)

In [ ]:
mean = order_payments["payment_value"].mean()
std =  order_payments["payment_value"].std()
skew =  order_payments["payment_value"].skew()
kurt =  order_payments["payment_value"].kurtosis()

text1 = '$\mu=$' + str(round(mean,2))
text2 = '$\sigma=$' +str(round(std,2))
text3 = '$skewness=$' + str(round(skew,2))
text4 = '$kurtosis=$' + str(round(kurt,2))
text = text1 + "\n" + text2 + "\n" + text3 + "\n" + text4

q95 =  order_payments["payment_value"].quantile(.95)
payments_q95 =  order_payments[ order_payments["payment_value"]<q95]

payments_q95.hist(column = "payment_value", bins = 100, figsize=(15,8), rwidth=0.9)
plt.axvline(mean, color='k', linestyle='--')
plt.text(mean+10, 2900, text, fontsize=12)
plt.xlabel("Payment value")
plt.ylabel("Counts")
plt.title("Histogram of payments values (cut at 95th quantile)")

In [ ]:
fig, ax = plt.subplots(figsize=(9, 8), subplot_kw=dict(aspect="equal"))
explode = (0.1, 0, 0, 0)
colors = ['#f45a5a', '#449dfc', '#93f96d', '#f9c86d']
legend = ["Credit Card", "Boleto", "Voucher", "Debit Card"]

p = order_payments["payment_type"][order_payments["payment_type"] != "not_defined"].value_counts()
p.plot(kind="pie", legend=False, labels=None, startangle=0, explode=explode, autopct='%1.0f%%', pctdistance=0.6, shadow=True, textprops={'weight':'bold', 'fontsize':16}, 
       colors=colors, ax=ax)
ax.legend(legend, loc='best', shadow=True, prop={'weight':'bold', 'size':12}, bbox_to_anchor=(0.6, 0, 0.5,1))
plt.title("Paymement methods", fontweight='bold', size=16)
plt.ylabel("")

### Delivery time

In [ ]:
# Data preparation
def convert(db,columns_list):
    for column in columns_list:
        db[column] = pd.to_datetime(db[column])

orders_mod = orders.copy()
cols = ['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date']

convert(orders_mod,cols)
orders_mod['delivery_time'] = orders_mod['order_delivered_carrier_date'] - orders_mod['order_purchase_timestamp']
q95 = orders_mod['delivery_time'].quantile(.95)

delivered = orders_mod[orders_mod["order_status"]=="delivered"]
delivered.set_index(delivered['order_purchase_timestamp'], inplace = True)

delivered = delivered.sort_index()
delivered["dts"] = delivered["delivery_time"].dt.total_seconds()
delivered = delivered["dts"].resample("D").mean()
delivered = round(delivered/86400,2)
delivered = delivered[delivered<8]
print(delivered.describe())
m_del = delivered.mean()

In [ ]:
ax = delivered.plot(figsize=(16,8))
plt.axhline(m_del,color="k",linestyle='--')
plt.xlabel("Date")
plt.ylabel("Mean delivery time in days")
ax.xaxis.set_major_locator(mdates.MonthLocator(interval=1))

In [ ]:
products.head()

In [ ]:
products.head()

### Sellers

In [ ]:
temp_sellers = sellers.merge(geolocation, left_on= sellers['seller_zip_code_prefix'], 
                             right_on = geolocation['geolocation_zip_code_prefix'], how = 'inner')

In [ ]:
len(sellers)==len(sellers['seller_id'].unique()) #make sure that the seller_id only contains unique values

In [ ]:
item_prod = items.merge(products, left_on = items['order_id'],
                       right_on = products['product_id'], how = 'inner')

In [ ]:
temp_sellers.head()

In [ ]:
plt.figure(figsize=(10,5))
sns.barplot(y=sellers['seller_state'].value_counts().values,x=sellers['seller_state'].value_counts().index)
plt.xlabel('States')
plt.ylabel('No of Sellers')
plt.title('Sellers per State')
z=plt.xticks(rotation=90)

In [ ]:
X=pd.to_datetime(orders['order_delivered_customer_date'])-pd.to_datetime(orders['order_purchase_timestamp'])

In [ ]:
for i in range(0,len(X)):
    X[i]=X[i].days

In [ ]:
plt.figure(figsize=(10,5))
sns.barplot(x=X.value_counts().sort_values(ascending=False).head(30).index,y=X.value_counts().sort_values(ascending=False).head(30).values)
plt.xlabel('Deleivery Days')
plt.ylabel('Frequency')

In [ ]:
p_5s = len(order_reviews[order_reviews['review_score'] == 5]) * 100 / len(order_reviews)
p_1s = len(order_reviews[order_reviews['review_score'] == 1]) * 100 / len(order_reviews)
first_dt = order_reviews['review_creation_date'].min()
last_dt = order_reviews['review_creation_date'].max()
avg_s = order_reviews['review_score'].mean()
print(len(order_reviews), 'reviews')
print('First:', first_dt)
print('Last:', last_dt)
print(f'5: {p_5s:.1f}%')
print(f'1: {p_1s:.1f}%')
print(f'Average: {avg_s:.1f}')

In [ ]:
 sns.catplot(
    x='review_score', 
    kind='count', 
    data=order_reviews, 
   
).set(
    xlabel='Review Score', 
    ylabel='Number of Reviews',
);

In [ ]:
order_reviews.head()

In [ ]:
sellers.head()

In [ ]:
product_category_name_translation.head()

In [ ]:
order_by_category = product_category_name_translation.groupby('product_category_name_english').size().reset_index(name='total_orders')
order_by_category_top10 = order_by_category.sort_values(by='total_orders', ascending=False).head(10)

In [ ]:
order_by_category_top10

In [ ]:
orders.head()

In [ ]:
orders.head()

In [ ]:
products = products.dropna(how = 'any')
#product_name_lenght	product_description_lenght	product_photos_qty
fig, axis = plt.subplots(1, 2, figsize=(12,4))
axis[0].set_title("Product name lenght")
axis[1].set_title("Product description lenght")
ax1 = sns.distplot(products['product_name_lenght'], color="#D84E30", ax=axis[0]) #rgba(204,204,204,1)', 'rgba(222,45,38,0.8)'
ax2 = sns.distplot(products['product_description_lenght'], color="#7E7270", ax=axis[1]) #"#D84E30"

In [ ]:
# Convert columns to datetime
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_aproved_at'] = pd.to_datetime(orders['order_approved_at'])
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])
# Calculate differences in hours
orders['delivery_time'] = (orders['order_delivered_customer_date'] - orders['order_aproved_at']).dt.total_seconds() / 86400
orders['estimated_delivery_time'] = (orders['order_estimated_delivery_date'] - orders['order_aproved_at']).dt.total_seconds() / 86400
# Delivery estimated time and actual delivery time
plt.figure(figsize=(10,4))
plt.title("Delivery time in days")
ax1 = sns.kdeplot(orders['delivery_time'].dropna(), color="#D84E30", label='Delivery time')
ax2 = sns.kdeplot(orders['estimated_delivery_time'].dropna(), color="#7E7270", label='Estimated delivery time')

In [ ]:
geolocation.head()